<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>카카오 로그인</h1>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=f6b0fcacb8345c8521d79a4626a02643&redirect_uri=http://localhost:8080/login/callback">
    <img src="../static/img/kakao_login_medium_wide.png"></a>

<a href="https://kauth.kakao.com/oauth/logout?client_id=f6b0fcacb8345c8521d79a4626a02643&logout_redirect_uri=http://localhost:8080/logout/oauth2/code/kakao">로그아웃</a>
<a href="/sijak/home">home</a>
<a href="/sijak/login">login</a>
<a href="/sijak/class/1/apply">apply</a>
</body>
</html>
